body {
  font-family: Helvetica;
  font-size: 18px;
  font-weight: bold;
  background-color: : white;
  color: black;
}
h1 {
  font-size: 70px;
  color: white;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
  background-image: image();
  color: white
}
p {
  font-size: 14px;

}
footer {
  text-align: left;
  font-size: 11px;
  color: white;
  background-color: dimgray;
}
